*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');

 body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas:
    'cabecera cabecera cabecera'
    'banner banner banner'
    'contenido contenido contenido'
    'footer footer footer';
 }
.cabecera{
   grid-area: cabecera;
   background-color: #1E1D45;
   display: flex;
   justify-content: space-between;
}
 .banner {
   grid-area: banner;
 }
 .contenido {
   grid-area: contenido;
}
.informacion {
   grid-area: contenido;
}
.productos{
   grid-area: contenido;
}
.info{
   grid-area: contenido;
}
.pie{
   grid-area: footer;
}
.logo{
   height: 100%;
}
.menu{
   float: right;
   text-align: right;
   width: 43%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   justify-items: center;
   }
.cabecera__menu{
   padding-top: 0px;
   margin-bottom: 5%;
   box-sizing: border-box;
}
.cabecera__barra{
   background-color: rgb(167, 167, 167);
   box-shadow: 0px 5px 5px 5px rgba(8, 8, 8, 0.404);
   border-radius: 10px 1px 10px 10px;
   height: 18%; 
}
.cabecera__barra div{
   padding: 10px;
   width: 100%;
}
.cabecera__barra__lista__img {
   list-style-type: none;
   width: 100%;   
}
.cabecera__barra__lista__img a{
   list-style: none;
   display: inline;
   text-decoration: none;
   font-family: 'EB Garamond', serif;
   width: 100%; 
}

.cabecera__menu__lista{
   display: flex;
}
.cabecera__menu__lista li{
   padding: 2%;
   list-style-type: none;
}
.cabecera__menu__lista li a{
   text-decoration: none;
   color: #fff;
   padding-left: 5%;
   font-family: 'EB Garamond', serif;
}
.cabecera__barra__lista__img {
   display: inline ;
}
.cabecera__barra__lista__img a{
   padding-left: 0px;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
.banner{
   overflow: hidden;
   position: relative;
   width: auto;
}
.banner img{
   height: 100%;
   width: 100%;
}
.banner div{
   font-size: 1.15rem;
   color: #05143d91;
   position: absolute;
   top: 78%;
   left: 67%;
   font-family: 'EB Garamond', serif;
}
/* Inicio de index */
.contenido{
   background-color: #2B4078;
   display: flex;
   flex-direction: column;
}
.contenido__destacado{
   display: flex;
   justify-content: space-around;
   padding-bottom: 3%;
}
.contenido__destacado__img img{
   object-fit: cover;
   border-radius: 10px 10px 10px 10px;
}
.contenido__destacado__img{
   display: flex;
   flex-direction: column;
}
.contenido__destacado__img p{
   padding: 2%;
   margin-left: 72px;
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
.contenido__titulo{
   padding: 3%;
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
/* Fin de index */
/* Inicio de footer */
.pie{
    background-color: #1E1D45;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.pie__seguinos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
}
.pie__seguinos h2{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'EB Garamond', serif;
}
.pie__mapa{
    display: flex;
    align-items: center;
}
.pie__mapa iframe{
    height: 40vh;
    width: 40vw;
}
.pie__datos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.pie__datos h2{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'EB Garamond', serif;
}
.pie__datos__gral {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.pie__datos__gral a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'EB Garamond', serif;
}
.pie__datos__img{
    display: flex;
    align-items: center;
}
/* Fin de footer */

/* Inicio de page servicios*/
.informacion {
   background-color: #2B4078;
   display: flex;
   flex-direction: column;
   width: 100%;
}
.informacion__servicios{
   display: flex;
   flex-direction: column;
}
.informacion__servicios p{
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
   font-size: large;
   width: 50%;
   margin-left: 23%;
}
.informacion__servicios ul{
   width: 50%;
   margin-left: 28%;
   color: #fff;
   font-family: 'EB Garamond', serif;
   font-size: large;
   margin-bottom: 3%;
}
.informacion__titulo{
   padding: 45px 60px 20px 175px;
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
   font-size: x-large;
   margin-bottom: 2%;
}
/* Fin de page servicios*/

/* inicio de page materiales*/

.informacion__detalles{
   display: flex;
   align-items: center;
   margin-left: 1.5%;
}
.informacion__detalles ul li{
   color: #fff;
   font-family: 'EB Garamond', serif;
}
.informacion__otros{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.informacion__otros h2{
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
   font-size: xx-large;
}

/* fin de page materiales*/

/* inicio de page productos */

.productos{
   background-color: #2B4078;
   width: 100%;
}
.productos__primera{
   display: flex;
   justify-content: space-around;
   width: 97%;
   margin-left: 1.5%;
}
.productos__primera__img{
   display: flex;
   flex-direction: column;
   padding-bottom: 3%;
   align-items: center;
}
.productos__primera__img img{
   object-fit: cover;
   border-radius: 10px 10px 10px 10px;
}
.productos__primera__img p{
   padding: 2%;
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
.productos__segunda{
   display: flex;
   justify-content: space-around;
   width: 97%;
   margin-left: 1.5%;
}
.productos__segunda__img{
   display: flex;
   flex-direction: column;
   padding-bottom: 3%;
   align-items: center;
}
.productos__segunda__img img{
   object-fit: cover;
   border-radius: 10px 10px 10px 10px;
}
.productos__segunda__img p{
   padding: 2%;
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
.productos__titulo{
   padding: 45px 60px 20px 175px;
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
   font-size: x-large;
   margin-bottom: 2%;
}
/* fin de page productos */

/* inicio de page contactos */

form {
   margin: 0 auto;
   width: 400px;
   padding: 1em;
   border: 1px solid #CCC;
   border-radius: 1em;
}
.info__contacto ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
form li + li {
   margin-top: 1em;
}
label {
   display: inline-block;
   width: 90px;
   text-align: right;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
input,
textarea {
   font: 1em sans-serif;
   width: 300px;
   box-sizing: border-box;
   border: 1px solid #999;
}
input:focus,
textarea:focus {
   border-color: #000;
}
textarea {
   vertical-align: top;
   height: 5em;
}
.button {
   padding-left: 90px;
   list-style: none;
}
button {
   margin-left: .5em;  
}
.info{
   background-color: #2B4078;
}
.info__titulo{
   padding: 45px 60px 20px 175px;
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
   font-size: x-large;
   margin-bottom: 2%;
}
/* fin de page contactos */

/* Incio de Responsive mobile */
@media only screen and (max-width: 420px) {
   body {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas:
      'cabecera'
      'banner'
      'contenido'
      'footer';
   }
  .cabecera{
     grid-area: cabecera;
     background-color: #1E1D45;
     display: flex;
     flex-direction: column-reverse;
     justify-content: space-between;
   }
   .banner {
     grid-area: banner;
   }
   .contenido {
     grid-area: contenido;
   }
   .informacion {
     grid-area: contenido;
   }
   .productos{
     grid-area: contenido;
   }
   .info{
     grid-area: contenido;
   }
   .pie{
     grid-area: footer;
   }
   .logo{
     margin-left: 100px;
   }
   .menu{
     float: right;
     text-align: right;
     width: 100%;
     display: flex;
     flex-direction: column;
     }
     
   .cabecera__menu{
     padding-top: 60px;
     margin-bottom: 0%;
     box-sizing: border-box;
   }
   .cabecera__barra{
     background-color: rgb(167, 167, 167);
     box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.404);
     border-radius: 10px 10px 10px 10px;
     height: 25%; 
   }
   .cabecera__barra div{
     width: 100%;
     font-size: 7px;
     margin-right: 30px;
   }
   .cabecera__barra__lista__img {
     list-style-type: none;
     width: 100%;   
   }
   .cabecera__barra__lista__img a{
     list-style: none;
     display: inline;
     text-decoration: none;
     font-family: 'EB Garamond', serif;
     width: 100%;
   }
   .cabecera__menu__lista{
     display: flex;
     margin-left: 65px;
   
   }
   .cabecera__menu__lista li{
     list-style-type: none;
   }
   .cabecera__menu__lista li a{
     text-decoration: none;
     color: #fff;
     font-family: 'EB Garamond', serif;
     font-size: 10px;
   }
   .cabecera__barra__lista__img {
     display: inline ;
   }
   .cabecera__barra__lista__img a{
     padding-left: 0px;
     color: #fff;
     font-family: 'EB Garamond', serif;
   }
   .banner{
     overflow: hidden;
     position: relative;
     width: auto;
   }
   .banner img{
     height: 100%;
     width: 100%;
  }
  .banner div{
     font-size: 1.15rem;
     color: #05143d91;
     position: absolute;
     top: 78%;
     left: 67%;
     font-family: 'EB Garamond', serif;
     font-size: 06px;
  }
  /* Inicio de index */
  .contenido{
     background-color: #2B4078;
     display: flex;
     flex-direction: column;
  }
  .contenido__destacado{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding-bottom: 3%;
  }
  .contenido__destacado__img img{
     object-fit: cover;
     border-radius: 10px 10px 10px 10px;
  }
  .contenido__destacado__img{
     display: flex;
     flex-direction: column;
  }
  .contenido__destacado__img p{
     padding: 2%;
     margin-left: 72px;
     list-style: none;
     text-decoration: none;
     color: #fff;
     font-family: 'EB Garamond', serif;
  }
  .contenido__titulo{
     padding: 3%;
     list-style: none;
     text-decoration: none;
     color: #fff;
     font-family: 'EB Garamond', serif;
     text-align: center;
  }
  .pieDeFoto {
   text-align: center;
  }


/* Inicio de footer */
.pie{
   background-color: #1E1D45;
   width: 100%;
   height: 45vh;
   display: flex;
   justify-content: space-around;
   align-content: center;
   font-size: 13px;
}
.pie__seguinos{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-between;
   align-items: center;
}
.pie__seguinos h2{
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
.pie__mapa{
   display: flex;
   align-items: center;
}
.pie__mapa iframe{
   height: 40vh;
   width: 40vw;
}
.pie__datos{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   align-items: center;
}
.pie__datos h2{
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
.pie__datos__gral {
   list-style: none;
   text-decoration: none;
   display: flex;
   flex-direction: column;
}
.pie__datos__gral a{
   list-style: none;
   text-decoration: none;
   color: #fff;
   font-family: 'EB Garamond', serif;
}
.pie__datos__img{
   display: flex;
   align-items: center;
}
/* Fin de footer */

/* Inicio de page servicios*/
.informacion {
  background-color: #2B4078;
  display: flex;
  flex-direction: column;
}
.informacion__servicios{
  display: flex;
  flex-direction: column;
}
.informacion__servicios p{
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: large;
  width: 50%;
  margin-left: 23%;
}
.informacion__servicios ul{
  width: 50%;
  margin-left: 28%;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: large;
  margin-bottom: 3%;
}
.informacion__titulo{
  padding: 45px 60px 20px 175px;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: x-large;
  margin-bottom: 2%;
}
/* Fin de page servicios*/

/* inicio de page materiales*/

.informacion__detalles{
  display: flex;
  align-items: center;
  margin-left: 1.5%;
}
.informacion__detalles ul li{
  color: #fff;
  font-family: 'EB Garamond', serif;
}
.informacion__otros{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.informacion__otros h2{
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: xx-large;
}

/* fin de page materiales*/

/* inicio de page productos */

.productos{
  background-color: #2B4078;
  width: 100%;
}
.productos__primera{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 97%;
  margin-left: 1.5%;
}
.productos__primera__img{
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  align-items: center;
}
.productos__primera__img img{
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}
.productos__primera__img p{
  padding: 2%;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: 'EB Garamond', serif;
}
.productos__segunda{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 97%;
  margin-left: 1.5%;
}
.productos__segunda__img{
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  align-items: center;
}
.productos__segunda__img img{
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}
.productos__segunda__img p{
  padding: 2%;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: 'EB Garamond', serif;
}
.productos__titulo{
  padding: 45px 60px 20px 175px;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: x-large;
  margin-bottom: 2%;
}
/* fin de page productos */

/* inicio de page contactos */

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
.info__contacto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
  color: #fff;
  font-family: 'EB Garamond', serif;
}
input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}
input:focus,
textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
}
.button {
  padding-left: 90px;
  list-style: none;
}
button {
  margin-left: .5em;  
}
.info{
  background-color: #2B4078;
}
.info__titulo{
  padding: 45px 60px 20px 175px;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: x-large;
  margin-bottom: 2%;
} 
/* fin de page contactos */
}
/* Fin de Responsive mobile */