 .info{
    background-color: #2B4078;
 }
 .info__titulo{
    padding: 20px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-size: x-large;
 }
 .red {
    color: red;
 }
 .contacto{
    color: #fff;
 }