.letra{
    font-family: 'EB Garamond', serif;
 }
 .productos__destacados{
    background-color: #2B4078;
    padding-bottom: 25px;
 }
 .productos__destacados H2{
    color: #fff;
    font-family: 'EB Garamond', serif;
    padding: 20px 0px 30px 40px;
 }
