 .accordion{
    width: 80%; 
    padding-left: 20%;
 }
 .informacion__otros{
    padding: 45px 60px 20px 175px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-size: x-large;
 }